body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.post-box {
    border: 1px solid #A2A2A2;
    background: white;
    margin-bottom: 20px;
}

.post-box textarea {
    border: none;
    padding: 0 10px;
}

.post-box #publicate_pub {
    padding: 5px;

}

.post-box .footer {
    background-color: #f2f2f2;
    padding: 10px;
    display: none;
}

.post-box .textarea-container {
    padding: 10px 0;
}

.menu {
    overflow: auto;
    max-height: 60px;
    background: #EEE;
}

.option {
    background: #EEE;
    padding: 3px;
}

.option:hover, .active {
    background: lightblue;
}

.hilite {
    background: lightblue;
    border-radius: 2px;
}

pre.tagmate-hiliter {
    border: 0 !important;
    word-break: normal;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .avatar {
    padding: 10px 0 10px 15px;
}

.navbar-nav i {
    margin: 0 10px;
}

.col-fixed {
    margin-top: 50px;
    position: static;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
    .bs-sidebar .nav > .active > ul {
        display: block;
    }

    .fullname {
        display: none;
    }

    /* Widen the fixed sidebar */
    .col-fixed {
        width: 213px;
    }

    .col-fixed {
        position: fixed; /* Undo the static from mobile first approach */
        top: 80px;
    }

    .col-fixed {
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    /* Widen the fixed sidebar again */
    .col-fixed {
        width: 263px;
    }

    .fullname {
        display: none;
    }
}

.avatar-box, .fullname-box {
    float: left;
}

.avatar-box {
    width: 28%;
    vertical-align: middle;
}

.fullname-box {
    width: 70%;
    vertical-align: middle;
}

.panel {
    margin-top: 20px;
}

.panel .list-group-item {
    font-size: 14px;
}

#chat-contacts {
    background: white;
    height: 88%;
}

#chat-contacts .list-group-item {
    font-size: 14px;
    position: relative;
}

.status {
    position: absolute;
    right: 15px;
    top: 15px;
    border-radius: 7px;
    width: 14px;
    height: 14px;
    display: inline-block;
}

.status-on {
    background: green;
}

.status-off {
    background: lightgray;
}

#new-post-region {
    position: relative;
    border-bottom: 1px solid rgb(185, 185, 185);
    margin-bottom: 20px;
}

.load_more {
    text-align: center;
}

.user-mini-resume {
    margin-top: 15px;
}

.post-fullname {
    font-weight: bold;
    font-size: 14px;
}

.post-left, .post-right {
    float: left;
}

.post-right {
    width: 88%;
}

.post-left {
    width: 11%;
}

.post-text {
    font-size: 14px;
}

.post-actions {
    font-size: 12px;
}

.post-actions span {
    color: #1a627d;
    cursor: pointer;
    margin: 0 10px;
}

.post-actions span:first-child {
    margin: 0;
}

.post-actions .date {
    color: gray;
}

.post-item {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(185, 185, 185);
}

.mybody {
    margin-top: 40px;
}