<div class="textarea-container">
    <textarea placeholder="¿Qué hay de nuevo?" class="form-control" id="new_post" cols="50"
              rows="2"></textarea>
</div>
<div class="footer">
    <div class="circles"></div>
    <button id="publicate_pub" class="btn btn-default">Publicar</button>
</div>