<div class="user-mini-resume">
    <div class="avatar-box">
        <img src="<%= profile.photo %>" alt="user-photo" width="130"/>
    </div>
    <div class="fullname-box">
        <h4><%- first_name %> <%- last_name %></h4>
    </div>
    <div class="clearfix"></div>
</div>
<div class="panel panel-default user-info">
    <div class="panel-heading">
        Información
    </div>
    <div class="panel-body">
        <form role="form">
            <div class="form-group">
                <label for="exampleInputEmail1">Nombres</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="¿Cómo te llamas?"
                       value="<%- first_name %>">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Apellidos</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="¿Cómo te apellidas?"
                       value="<%- last_name %>">
            </div>
        </form>
    </div>
</div>
<div class="panel panel-default user-contact">
    <div class="panel-heading">
        Contacto
    </div>
    <div class="panel-body">

    </div>
</div>