<div class="post-left">
    <img src="<%= user.photo %>" alt="user-photo" height="50"/>
</div>

<div class="post-right">
    <p class="post-fullname"><a href="#<%= user.email.substr(0, user.email.indexOf("@")) %>"><%- user.fullname %></a>
        <% if(workgroup_id){ %>
        <i class="glyphicon glyphicon-play"></i>
        <a href="#groups/<%= workgroup_id %>/<%= workgroup_name.replace(".", "").toLowerCase() %>"><%= workgroup_name %></a>
        <% } %>
    </p>

    <p class="post-text"> <%- text %> </p>

    <div class="post-actions">
        <span>Me gusta</span> ·
        <span>Comentar</span> ·
        <% if (likes > 0) { %>
        <span class="likes"><%- likes %>
            <i class="glyphicon glyphicon-heart"></i></span>
        <% } else { %>
        <span><a href=""><i class="glyphicon glyphicon-heart"></i></a></span>
        <% } %>
        ·
        <time class="date" datetime="<%= date_pub %>"><%- date_pub %></time>
    </div>
</div>
<div class="clearfix"></div>