<div class="personal-region">
</div>
<div class="panel panel-default user-info">
    <div class="panel-heading">
        Trabajo
    </div>
    <div class="panel-body work-region">

    </div>
</div>
<div class="panel panel-default user-info">
    <div class="panel-heading">
        Educación
    </div>
    <div class="panel-body education-region">

    </div>
</div>