<h4>Publicar</h4>

<div id="new-post-region"></div>
<div id="post-stream-region"></div>
<p class="load_more">
    <a class="btn btn-default" href="#">Cargar más
        <i class="glyphicon glyphicon-plus"></i>
    </a>
</p>