<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

    <title>Red Social Corporativa - Home</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet">

    <!-- Templates -->
    <script type="application/x-ejs" id="post-template">
        {% include "tpls/post-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="new-post-template">
        {% include "tpls/new-post-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="stream-layout-template">
        {% include "tpls/stream-layout-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="profile-layout-template">
        {% include "tpls/profile-layout-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="personal-template">
        {% include "tpls/personal-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="work-template">
        {% include "tpls/work-template.ejs" %}
    </script>
    <script type="application/x-ejs" id="education-template">
        {% include "tpls/education-template.ejs" %}
    </script>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tu Empresa</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#about"><i class="glyphicon glyphicon-inbox"></i>

                    <div class="badge">0</div>
                </a>
                </li>
                <li><a href="#contact"><i class="glyphicon glyphicon-bullhorn"></i>

                    <div class="badge">0</div>
                </a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><img class="avatar" src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo" width="55"/></li>
                <li><a href="#profile" class="fullname">{{ user.get_full_name }}</a></li>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>

<div class="mybody">
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-lg-3">
                <div class="col-fixed">
                    <div class="user-mini-resume">
                        <div class="avatar-box">
                            <img src="{{ MEDIA_URL }}{{ user.profile.photo }}" alt="user-photo"
                                 width="55"/>
                        </div>
                        <div class="fullname-box">
                            <h4>{{ user.get_full_name }}</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="home-links">
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h4>Navegación</h4></div>
                            <div class="list-group">
                                <a href="#" class="list-group-item active"> Inicio </a>
                                <a href="#" class="list-group-item">Bandeja</a>
                                <a href="#" class="list-group-item">Notificaciones</a>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="panel panel-default">
                            <!-- Default panel contents -->
                            <div class="panel-heading"><h4>Acciones</h4></div>
                            <div class="list-group">
                                <a href="#" class="list-group-item">Grupos</a>
                                <a href="#" class="list-group-item">Proyectos</a>
                                <a href="#" class="list-group-item">Contactos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div id="content">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="col-fixed" id="chat-contacts">
                    <div>
                        <div class="list-group">
                            <a href="#" class="list-group-item">Dick Van Ocampo
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">José Manuel Ríos Vega
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">Ruddy Lavado
                                <div class="status status-on"></div>
                            </a>
                            <a href="#" class="list-group-item">Carlos Roca
                                <div class="status status-off"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/ajaxSetup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.timeago.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.timeago.es.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.autosize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.fieldselection.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.scrollTo.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/jquery.tagmate.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/underscore.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/json2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.wreqr.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.babysitter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.compute.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.routefilter.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/vendor/backbone.marionette.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}js/app/rdc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/navegacion/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/navegacion/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/menu/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/menu/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/router.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/stream/controller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/router.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/entities.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/views.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/app/profile/controller.js"></script>
<script type="text/javascript">
    RSC.start();
</script>
</body>
</html>
